
#deck-done {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30%;
  height: 10%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: 0 50px;
  font-size: 2rem;
}

#card-holder {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-shrink: 0;
}

.card {
  width: 190px;
  min-width: 190px;
  height: 285px;
  max-height: 285px;
  margin: 0 -15px 0;
  display: flex;
  font-family: monospace;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: #000;
  transform: scale(.75);
  transition: bottom .25s;
  z-index: 10;
  position: relative;
  touch-action: none;
  padding: 0 10px;
}

.card p {
  margin: 0 0 5px;
}

.detail {
  flex-grow: 1;
}

.flavor {
  font-style: italic;
  font-size: .9rem;
}

.title, .body {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px #000 solid;
  background-color: #fff;
}

.title {
  text-align: center;
  font-size: 1.66rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.body {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  flex-grow: 1;
}

.card:hover {
  z-index: 100;
  bottom: 90px;
  transform: scale(1.5);
}

.top, .bottom {
  width: 80%;
  height: 35%;
  border: 1px white solid;
  text-align: center;
  padding: 1%;
}

.cost {
  font-size: 2.5rem;
  font-weight: bold;
  position: absolute;
  left: -20px;
  top: -30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: #fff;
  /* box-shadow: 0px 0px 0px 1px #000; */
  box-shadow:
    inset 0px 0px 0px 2px #000, 
    inset 0px 0px 0px 4px #fff;
  
}

:root {
	--pixel-bg: #cccccc;
	/* ↑ Inner background color */
	
	--pixel-border: black;
	/* ↑ Inner border color */
	
	--pixel-border-2: white;
	/* ↑ Middle border color */
	
	--pixel-border-3: var(--pixel-border);
	/* ↑ Outer border color */
	
	--pixel: .125rem;
	/* ↑ Pixel size */
}

.pixel-border {
background: var(--pixel-bg);
box-shadow:
  
/* Inner Background Color */
  0 calc(var(--pixel) * -3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
  0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
  0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
  0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
  0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
  0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
  0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
  0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
  
/* Pixel Border Layer 1 */
  calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
  var(--pixel) 0 0 0 var(--pixel-border),
  0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
  0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
  0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
  0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
  0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
  0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
  0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
  0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
  0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
  0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border),
  
/* Pixel Border Layer 2 */
  calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-2),
  calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2),
  0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2), 
  0 var(--pixel) 0 var(--pixel) var(--pixel-border-2),
  0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2),
  0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2),
  0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
  0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
  0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
  0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
  0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
  0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
  0 calc(var(--pixel) * -14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
  0 calc(var(--pixel) * 14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
  
/* Border Layer 3: --pixel-border-3 */
  calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-3),
  calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3),
  0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3),
  0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3),
  0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3),
  0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3),
  0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3),
  0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
  0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
  0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3), 
  0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
  0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3), 
  0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
  0 calc(var(--pixel) * -15) 0 calc(var(--pixel) * -6) var(--pixel-border-3), 
  0 calc(var(--pixel) * 15) 0 calc(var(--pixel) * -6) var(--pixel-border-3);
}
