#context {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, .75);
  opacity: 0;
  transition: all 1s;
  z-index: 1000;
}

#context.show {
  opacity: 1;
}

#context.hide, #message.hide {
  display: block;
  z-index: -1;
  opacity: 0;
}

#message {
  color: #000;
  position: absolute;
  left: 10%;
  top: 20%;
  right: 10%;
  bottom: 20%;
  padding: 50px 50px;
  background-color: #c0ae92;
  font-size: 2.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#context-close {
  font-size: 3rem;
}
