

* {
    touch-action: manipulation;
    user-select: none;
    touch-action: none;
}

/* Get rid of any margins, set background black, use flexbox to center */
html, body {
    margin: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: visible;
    font-size: 14px;
    font-family: luminari;
    image-rendering: pixelated;
}

.hide {
    display: none;
}

button {
    font-family: luminari;
    border: none;
    background: none;
    color: #fff;
    display: inline;
    font-size: 8rem;
    align-self: flex-start;
    margin: 0 auto;
}

button:hover {
    text-shadow: 0 0 10px #fff;
}

button:active {
    text-shadow: 0 0 10px #999;
}

#menu {
    margin-top: 250px;
}

#title {
    z-index: 2;
}

#board {
    background-color: #00a2d1;
    width: 1600px;
    height: 900px;
    outline: 0;
    position: relative;
    display: flex;
    touch-action: manipulation;
    user-select: none;
}

#playing {
    display: none;
}

#ground {
    background-color: #503e32;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60%;
}

/* @media (min-aspect-ratio: 16/9) {
    #board {
        height: 100vh;
        width: auto;
    }
} */
